.footer {
    background-color: #252525;
    padding: 52px 20px;
    text-align: center;
    border-top: 1px solid #eee;
  }


  .footer-bottom {
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid #eee;
    color: #777;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }




  .footer-bottom p {
    margin-bottom: 0;
  }
