.payment-methods {
    display: flex;
    align-items: center;
    color: #fff;
  }

  .payment-methods span {
    margin-right: 10px;
    color: #fff;
  }

  .payment-methods img {
    height: 25px;
    margin-left: 5px;
    color: #fff;
  }

  .copy{
    color: #fff;
  }
