/* Estilos existentes */
.loja-container {
   padding-top: 3rem;
 padding-left: 20px;
 padding-right: 20px;
 font-family: 'Arial', sans-serif;
}

.fileira-pratos {
 display: flex;
 flex-wrap: wrap; /* Permite que os itens passem para a próxima linha */
 margin-bottom: 30px;
 gap: 25px; /* Espaçamento entre os cards */
 justify-content: space-around;
  }

.card-prato {
  border: 1px solid #e0e0e0;
  text-align: center;
  width: 22%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease;
  background-color: #f9f9f9;
  border-radius: 10px 10px 10px 10px;
  display: flex;
  flex-direction: column;
}

.card-prato:hover {
  transform: translateY(-5px);
}

.imagem-prato {
  width: 100%;
  height: 200px;
  background-color: #ddd;
  margin-bottom: 10px;
  border-radius: 6px 6px 0 0;
  object-fit: cover;
}

.card-prato h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #333;
  font-size: 1.1em;
}

.card-prato p {
  margin-bottom: 5px;
  color: #666;
  font-size: 0.9em;
}

.coluna-vazia {
  width: 22%;
}

.btnModerno {
  position: relative;
  background-color: #444;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.1em;
  padding: 8px 20px;
  transition: 0.5s;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.btnModerno:hover {
  background-color: rgba(15, 240, 252);
  color: rgba(15, 240, 252);
  box-shadow: 0 0 35px rgba(15, 240, 252);
}

.btnModerno::before {
  content: '';
  position: absolute;
  inset: 2px;
  background-color: #27282c;
}

.btnModerno span {
  position: relative;
}

.barra-pesquisa {
display: flex;
 justify-content: center;
 margin-bottom: 20px;
 padding: 10px;
 background-color: #f8f8f8;
 border-radius: 8px;
 box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .barra-pesquisa input[type="text"] {
 padding: 12px 20px;
 border: 1px solid #ccc;
 border-radius: 6px;
 font-size: 16px;
 width: 80%;
 max-width: 600px;
 outline: none;
 transition: border-color 0.3s ease;
  }

  .barra-pesquisa input[type="text"]:focus {
 border-color: #e4d00a;
 box-shadow: 0 0 8px rgba(228, 208, 10, 0.3);
  }

  .mensagem-sem-resultados {
 text-align: center;
 color: #777;
 font-style: italic;
 margin-top: 20px;
 font-size: 30px;
  }