/* loja.css (mantive o restante dos seus estilos) */
.flexbox {
  padding-top: 5rem;
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 15px;
  justify-content: space-between;
  padding-left: 5rem;
  padding-right: 5rem;
}

.flexbox .produto {
  width: 350px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  background-color: darkred;
  padding-bottom: 2rem;
}

.flexbox img {
  width: 350px;
  display: block;
  height: 200px;
  border-radius: 5px 5px 0 0;
}

.flexbox div {
  background-color: darkred;
  width: 350px;
  margin: 15px;
  height: 501px;
  display: flex;
  flex-direction: column;
  border-radius: 15px 15px 15px 15px;
  transition: 1.5s;
}

.flexbox div:hover {
  -webkit-ms-transform: scale(1.05);
  transform: scale(1.05);
  transition: 1.5s;
}

.flexbox div button:hover{
  cursor: pointer;
}

.loja-container {
  padding-bottom: 5rem;
  min-height: 140rem;
}

.descricao {
  color: white;
  background-color: black;
  padding: 10px;
  font-size: 20px;
}

.btnComprar {
  position: relative;
  background-color: #444;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.1em;
  padding: 8px 12px;
  transition: 0.3s ease-in-out;
  overflow: hidden;
  margin-top: auto;
}

.btnComprar:hover {
  letter-spacing: 0.2em;
  color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 25px rgba(15, 240, 252, 0.7);
}

.btnComprar::before {
  content: '';
  position: absolute;
  inset: 2px;
  background-color: #27282c;
  z-index: 0;
}

.btnComprar span {
  position: relative;
  z-index: 1;
}

.btnComprar i {
  position: absolute;
  inset: 0;
  display: block;
  background: rgba(15, 240, 252, 0.7);
  mix-blend-mode: difference;
  transform: translateX(-100%);
  transition: transform 0.4s ease-in-out;
}

.btnComprar:hover i {
  transform: translateX(0);
}

.preco {
  color: white;
  font-size: 20px;
  padding-right: 1rem;
  padding-top: 5px;

}

.ingredientes {
  color: white;
  font-size: 20px;
  padding-top: 5px;
}
