.form-group {
    margin-bottom: 20px;
  }

  .form-group label {
    display: block;
    margin-bottom: 8px;
    color: #555;
    font-weight: bold;
  }

  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group input[type="tel"],
  .form-group input[type="date"],
  .form-group input[type="number"],
  .form-group select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    box-sizing: border-box;
    background-color: white; /* Adicionado um fundo branco para melhor leitura sobre a imagem */
    font-style: italic;
  }

  .form-group select {
    appearance: none; /* Remove as setas padrão do select */
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 50%;
    padding-right: 25px;
    background-color: white; /* Adicionado um fundo branco para melhor leitura sobre a imagem */
    font-style: italic;
  }

  .reserva-botao {
    background-color: #e74c3c; /* Vermelho característico */
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.1em;
    transition: background-color 0.3s ease;
    font-style: italic;
  }

  .reserva-botao:hover {
    background-color: #c0392b;
    font-style: italic;
  }

  /* Estilos adicionais para um toque japonês (opcional) */
  .reserva-titulo::after {
    content: '🥢'; /* Adiciona um emoji de hashis */
    margin-left: 10px;
    font-style: italic;
  }

  .reserva-container {
    font-style: italic;
    background-repeat: no-repeat; /* Para evitar que a imagem se repita */
    background-position: center; /* Para centralizar a imagem */
    padding: 20px; /* Adicione um pouco de padding para o conteúdo não ficar colado nas bordas */
  }