.instagram-container {
    font-family: sans-serif;
    max-width: 600px;
    margin: 20px auto;
    background-color: var(--white); /* Usando variável */
    border: 1px solid var(--border-color); /* Usando variável */
    border-radius: 3px;
    padding-bottom: 20px;
  }

  .instagram-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    border-bottom: 1px solid var(--border-color); /* Usando variável */
  }

  .header-left {
    display: flex;
    align-items: center;
  }


  .header-right .follow-button {
    background-color: var(--primary-button-color); /* Usando variável */
    color: var(--white); /* Usando variável */
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
  }

  .profile-stats {
    display: flex;
    justify-content: space-around;
    padding: 16px 0;
    border-bottom: 1px solid var(--border-color); /* Usando variável */
  }


  /* Definição das variáveis CSS */
  :root {
    --primary-button-color: #0095f6;
    --white: #fff;
    --border-color: #e6e6e6;
    --text-primary: #262626;
    --text-secondary: #999;
    --highlight-border: #c7c7c7;
    --highlight-background: #f0f0f0;
  }